body {
    
    background-image: url('nam.jpg');">
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
  color: AntiqueWhite;
  text-align: center
}

p {
  font-family: verdana;
  font-size: 20px;
}
.main-nav li
{ 
    display: inline-block;
} 

.main-nav li a
{ 
   color: 1px solid White;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
}
.main-nav li a:hover
{
    border: White;
}
    
    
header {
    
    color: AntiqueWhite;
    text-align: center;
    padding: 50px;
}

.spot-info {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

h2 {
    color: AntiqueWhite;
}

ul {
    color:AntiqueWhite;
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    
    color: AntiqueWhite;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
